pip>=24.0
auto_mix_prep>=0.2.0
Django>=5.0.3
Faker>=4.18.0
id_validator>=1.0.20
nacos_sdk_python>=0.1.12
openpyxl>=3.1.2
pandas>=2.0.1
PyJWT>=2.8.0
PyMySQL>=1.1.0
PyYAML>=6.0.1
telnetlib3>=2.0.2
requests>=2.32.3
DBUtils>=3.0.3
pytest>=7.3.1
allure-pytest>=2.13.2
mysqlclient>=2.2.0
kazoo>=2.4.0
paramiko>=3.4.0
django-cors-headers>=  4.4.0
redis >= 5.2.0

python-dateutil~=2.9.0.post0
jsonpath-ng~=1.7.0
nacos-sdk-python~=2.0.1
pycryptodome~=3.21.0
urllib3~=2.3.0
mcp>=1.27.0
uvicorn>=0.46.0
sse-starlette>=3.4.2